@import '../../styles/variables';

.home-page {
  position: relative;
  text-align: center;
}

.cover-photo-container {
  background-image: url('../../assets/images/home-page-cover.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: calc(100vh - 3.8rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-now-btn {
  position: absolute;
  bottom: 10%;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 10px;
  background-color: $primary-color;
  color: white;
  letter-spacing: 3px;
  font-weight: 400;

  &.dark {
    background-color: $background-color-dark;
  }
}

.section-header {
  padding: 2rem;
  background-color: $header-background-color;

  &.dark {
    background-color: $dark-background-accent;
    color: $primary-text-color;
  }
}

.section-header p {
  margin-top: 1rem;
}

.featured-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-header {
  margin-top: 4rem;
  padding: 0.6rem;
  background-color: $button-background-light;
  width: 30%;
  border-radius: 30px;
  font-size: 0.9rem;

  &.dark {
    background-color: $dark-background-accent;
    color: $primary-text-color;
  }
}

.collection-slideshow {
  display: flex;
  overflow-x: scroll; 
  overflow-y: hidden;
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth; 
  white-space: nowrap;
  width: 100vw; 
  padding-bottom: 1rem;
  position: relative;
  z-index: 2;
  scrollbar-width: none;
}

.text-image-feature {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  position: relative;
}

.featured-header {
  position: absolute;
  top: 30%;
  color: white;
  letter-spacing: 2px;
  font-family: $font-family;
  margin-left: 1rem;
}

.featured-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

.featured-sub-header {
  text-align: left;
  margin-left: 1rem;
  margin-top: 2rem;
}

.featured-text {
  text-align: left;
  padding: 1rem;
}

.featured-button {
  align-self: flex-start;
  margin-left: 1rem;
  background-color: $dark-background-accent;
  color: $primary-text-color;
  border: none;
  border-radius: 10px;
  padding: 1.5rem;
  width: 45%;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1rem;
  white-space: nowrap;

  &.dark {
    background-color: $dark-background-accent;
    color: $primary-text-color
  }
}

.review-carousel {
  margin-top: 4rem;
  text-align: left;
}

.carousel-header {
  padding-left: 2rem;
}

.carousel-heading {
  font-weight: 400;
}

#reviews {
  box-sizing: border-box;
  width: 100vw;
  gap: 1.5rem;
  padding: 0 2rem 1rem 2rem;
}

.review-widget {
  margin-top: 1rem;
  padding: 1rem;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  min-width: 50%;
  font-size: 0.9rem;

  &.dark {
    background-color: $secondary-color;
    box-shadow: 0px 8px 8px rgba(40, 40, 40, 0.2);
    color: black;
  }
}

.review-title {
  font-weight: 600;
}

.review-description {
  margin-bottom: 1rem; 
  white-space: pre-wrap;
}

.product-title {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.journal-widget {
  margin-top: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal-cover-container {
  width: 100%;
  height: 350px;
  position: relative;
}

.journal-cover-container img,
.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.journal-cover-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
  pointer-events: none;
}

.journal-cover-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  top: 25%;
  color: white;
  padding: 0 1rem;
  letter-spacing: 1px;
}

.journal-cover-text p {
  margin-bottom: 1rem;
}

.journal-button  {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.506);
  border: none;
  color: white;
  width: 40%;
  border-radius: 10px;
}

.journal-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
  .cover-photo-container {
    height: 100vh;
    background-position: 0 -300px;
  }

  .featured-button:hover {
    background-color: #9d8c82;
  }

  // .cover-photo-container img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   object-position: bottom;
  //   object-position: 0 -200px;
  // }

  .shop-now-btn {
    bottom: 15%;
    cursor: pointer;
  }

  .shop-now-btn:hover {
    background-color: #9d8c82;
    color: black;
  }

  .section-header {
    padding: 2rem 10rem 2rem 10rem;
  }

  .feature-header {
    width: 15%;
  }

  .featured-collection {
    margin-bottom: 4rem;
  }

  .collection-slideshow {
    justify-content: center;
    gap: 1rem;
    width: 50%;
    overflow-x: visible;
    overflow-y: visible;
    white-space: normal;
  }

  .text-image-feature {
    flex-direction: row;
    margin-top: 0;
  }

  .image-container {
    min-width: 50vw;
    height: 50vh;
  }

  .first-feature {
    order: 2;
  }

  .featured-content {
    padding: 0 1rem;
  }

  #reviews {
    width: auto;
    margin-top: 1rem;
  }
  
  .review-widget {
    min-width: auto;
  }

  .carousel-header {
    text-align: center;
  }

  .journal-cover-container{
    height: 500px;
  }

  .journal-cover-text {
    top: 35%;
  }
}
@media (min-width: 1440px) {
  .cover-photo-container img {
    object-position: 0 -300px;
  }

  .section-header {
    padding: 2rem 20rem 2rem 20rem;
  }

  .feature-header {
    width: 10%;
  }
}