@import '../../styles/variables';

.info-text {
  padding: 1rem;
}

.info-text h3 {
  margin-bottom: 1rem;
}

.info-text p {
  margin-bottom: 1rem;
}

#contact-form button {
  width: 30%;
  padding: 0.8rem;
  align-self: flex-start;
}

.submit-message {
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}