@import '../../styles/variables';

.login-modal-header {
  padding: 2rem 1.5rem 1rem 1.5rem;
}

.login-modal-header h3 {
  margin-bottom: 0.9rem;
}

.login-modal-header p,
.account-modal-buttons p {
  font-size: 0.8rem;
}

.login-modal-title,
.account-modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#exit-account-modal {
  margin-bottom: 0.5rem;
}

#sign-in {
  margin-top: 0.5rem;
  background-color: rgb(84, 71, 66);;
}

.login-modal-options {
  display: flex;
  justify-content: center;
}

.login-modal-options button {
  background-color: transparent;
  border: none;
  letter-spacing: 0.5px;

  &.dark {
    color: $primary-text-color;
  }
}

.account-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.account-modal-title {
  padding: 2rem 1.2rem;
  padding-bottom: 0;
  width: 100%;
}

.profile-image-container {
  width: 25%;
  margin: 2rem auto 1rem auto;
}

.profile-name {
  text-align: center;
  margin-top: 0.5rem;
  white-space: nowrap;
}

.account-modal-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  border-bottom: 2px $border-color-light solid;

  &.dark {
    border-bottom: 2px $border-color-white solid;
  }
}

.account-menu-item {
  padding: 1.2rem;
  border-bottom: 2px $border-color-light solid;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;

  &.dark {
    border-bottom: 2px $border-color-white solid;
  }
}

.account-menu-item:hover {
  font-weight: 600;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.submit-message {
  font-size: 0.9rem;
  text-align: center;
}

.account-details {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}

.login-info {
  font-style: italic;
  margin-top: 1rem;
}

.update-profile-image-container {
  position: relative;
  width: 50%;
  align-self: center;
}

.overlay-icon {
  position: absolute;
  bottom: 30%;
  right: 30%;
  border-radius: 50%;
  width: 40%;
}

.account-details-form {
  width: 100%;
  text-align: center;
}

.back-btn {
  cursor: pointer;
}

@media (min-width: 768px) {
  .account-details {
    width: 30%;
  }

  #sign-in:hover {
    background-color: #9d8c82;
  }
}