// _variables.scss
$background-color: #fcfaf7;
$background-color-dark: #252525;
$dark-background-accent: rgb(84, 71, 66);
$primary-text-color: #fcfaf7;
$header-background-color: #f9f6f2;
$primary-color: #252525;
$secondary-color: #9d8c82;
$accent-color: #DAA520;
$font-family: "Raleway", sans-serif;
$text-color-light: rgba(0, 0, 0, 0.8);
$border-color-light: rgba(0, 0, 0, 0.1);
$border-color-white: rgba(255, 255, 255, 0.4);
$button-background-light: #eae4de;
