// _variables.scss
$background-color: #fcfaf7;
$header-background-color: #f9f6f2;
$primary-color: #252525;
$secondary-color: #9d8466;
$accent-color: #DAA520;
$font-family: "Raleway", sans-serif;
$text-color-light: rgba(0, 0, 0, 0.8);
$border-color-light: rgba(0, 0, 0, 0.1);
$button-background-light: #eae4de;
