.body-no-scroll {
  overflow: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: $background-color;
  width: 100%;
  z-index: 1010;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  min-height: calc(var(--vh, 1vh) * 100);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(var(--vh, 1vh) * 100);
}

.open {
  transform: translateX(0) !important;
}

.close {
  transform: translateX(100%);
}

.close-left {
  transform: translateX(-100%);
}

.blur {
  filter: blur(5px);
}

.transparent-background {
  background-color: transparent;
  position: absolute;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .transparent-background {
    justify-content: space-around;
    width: 100%;
  }

  .modal {
    width: 30%;
    right: 0;
  }
}