@import '../../styles/variables';

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: $header-background-color;
  z-index: 3;
  width: 100%;
}

#shipping-header {
  text-align: center;
  padding: 1.2rem;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  background-color: #9d8c82;
  color: #fcfaf7;
}

#theme-switch-btn {
  display: none;
}

.main-logo {
  width: 60%;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

.checkout-logo {
  align-self: center;
  padding: 1rem;
}

.main-logo img {
  width: 100%;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 40px;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: 15px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

#cart-badge-dark {
  background-color: black;
}

#cart-badge-light {
  background-color: #fcfaf7;
}

.profile-icon {
  display: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $header-background-color;
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  color: $text-color-light;
  margin-top: auto;
}

.footer-nav-heading {
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer-nav-item {
  list-style: none;
  margin-bottom: 0.5rem;
}

.footer-nav-item:last-of-type {
  margin-bottom: 1.5rem;
}

.newsletter {
  margin-bottom: 2rem;
}

.newsletter-text {
  margin-bottom: 0.5rem;
}

#email {
  margin-top: 0;
  text-align: center;
  width: 70%;
}

.form-button {
  background-color: $border-color-light;
  border: none;
  padding: 0.7rem 1rem;
  margin-left: 0.5rem;

  &.dark {
    color: $primary-text-color;
    background-color: $background-color-dark;
  }
}

@media (min-width: 768px) {
  #shipping-header {
    display: flex;
    justify-content: center;
  }

  .shipping-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-20%);
  }

  #theme-switch-btn {
    display: block;
    margin-right: auto;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
  }

  #theme-switch-btn:hover {
    background-color: rgba(255, 255, 255, 0.2)
  }

  .mobile-menu {
    display: none;
  }

  .main-logo {
    width: 20%;
    margin-right: auto;
    cursor: pointer;
  }

  .cart-icon {
    margin-right: 3rem;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
  }

  .cart-badge {
    top: 3px;
    right: 67px;
  }

  .cart-icon:hover,
  .profile-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);

    &.dark {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }

  .profile-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.7rem;
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: left;
    background-color: black;
    color: $primary-text-color;
    gap: 1.5rem;
  }

  .footer-nav-heading {
    width: 60%;
  }

  footer p {
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    flex: 1 1 50%;
    border-right: solid 1px rgba(255, 255, 255, 0.5);
  }

  footer a {
    color: $primary-text-color;
  }

  .newsletter {
    margin: 0;
    flex-shrink: 0;
    flex-basis: 45%;
  }

  .newsletter-email {
    border-color: white;
  }

  .form-button {
    background-color: #9d8c82;
  }
}