@import '../../styles/variables';

.product-page {
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.product-navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.product-header {
  display: flex;
  flex-direction: column;
}

.product-image-container {
  width: 100%;
  align-self: center;
  margin-bottom: 1.5rem;
}

.product-price {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: $text-color-light;

  &.dark {
    color: $primary-text-color
  }
}

.add-to-cart-section {
  display: flex;
  flex-direction: column;
}

.add-to-cart-btn {
  margin-top: 1rem;
  background-color: $dark-background-accent !important;
}

.add-to-cart-btn:hover {
  background-color: #9d8c82 !important;
}

.product-description {
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: center;
  line-height: 30px;
}

.product-reviews {
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px $border-color-light solid;

  &.dark {
    border-color: rgba(255, 255, 255, 0.2);
  }
}

.customer-review {
  margin-top: 1rem;
  border-bottom: 1px $border-color-light solid;
  padding-bottom: 1rem;
  font-size: 0.9rem;

  &.dark {
    border-color: rgba(255, 255, 255, 0.2);
  }
}

.customer-review:last-of-type {
  border-bottom: none;
}

.rating-stars span {
  color: $accent-color;
}

.review-date {
  margin-top: 0.2rem;
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}

.review-name {
  margin-top: -0.4rem;
  font-weight: 500;
}

.review-title {
  font-weight: 600;
}

.review-description {
  padding-top: 0.3rem;
}

.product-title,
.review-name {
  margin-top: 0.5rem;
}

.add-to-cart-section select, 
.add-to-cart-section input {
  margin-top: 1rem;
  text-align: center !important;
}

#review-form {
  padding-left: 0;
  padding-top: 1rem;
}

#submit-review-button {
  width: 50%;
  align-self: flex-start;
  font-size: 0.7rem;
}

#review-error {
  padding-top: 0.5rem;
  font-size: 0.9rem;
}

.write-a-review {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.7);
  padding: 0;
}

#thankyou {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .product-content {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
  }
  
  .product-info {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

  .add-to-cart-section {
    width: 60%;
  }

  .product-image-container {
    width: 70%;
  }

  .product-description {
    margin-top: 2rem;
    text-align: left;
    font-style: normal;
    border-top: solid 1px rgba(0, 0, 0, 0.3);
    padding-top: 1rem;
    width: 80%;

    &.dark {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }

  .product-page {
    width: 70%;
    margin-top: 1rem;
  }

  .nav-btn {
    cursor: pointer;
  }

}