body {
  background-color:#cec5ba;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #dfd8cf;
}

#shipping-header {
  text-align: center;
  padding: 1.2rem;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  background-color: #9d8466;
  color: #fcfaf7;
}

h2, p {
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
}

.product-page {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.product-header {
  display: flex;
  flex-direction: column;
}

.product-image-container {
  width: 100%;
  align-self: center;
  margin-bottom: 1.5rem;
}

.product-image-container img {
  width: 100%;
}

.product-price {
  margin-top: 0.3rem;
  font-size: 1.3rem;
}

.add-to-cart {
  margin-top: 1rem;
  align-self: center;
  width: 100%;
  padding: 1.3rem;
  background-color: #252525;
  color: #fcfaf7;
  border: none;
  border-radius: 8px;
  letter-spacing: 1.5px;
}

.product-decription {
  margin-top: 2rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.main-logo {
  width: 30%;
}

.main-logo img {
  width: 100%;
}

